APP_NAME="Sistem Raport Digital"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8005

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=sistem_raport_digital
DB_USERNAME=raport
DB_PASSWORD=raport_local

MYSQL_DATABASE=sistem_raport_digital
MYSQL_USER=raport
MYSQL_PASSWORD=raport_local
MYSQL_ROOT_PASSWORD=raport_root_local

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false
QUEUE_CONNECTION=database
CACHE_STORE=database
FILESYSTEM_DISK=local
FILESYSTEM_PUBLIC_URL=
ASSET_URL=

MAIL_MAILER=log

ABSENSI_API_URL=https://absensilantaburo.my.id/api/v1/gurus
ABSENSI_API_KEY=

VITE_APP_NAME="${APP_NAME}"
VITE_DEV_SERVER_URL=http://localhost:5173
DOCKER_ENV=true

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
TURNSTILE_THEME=auto
TURNSTILE_SIZE=flexible
TURNSTILE_LANGUAGE=id
